@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #dfdfdf;

}
.head{
    width: 100%;
    height: 15%;
}
.head h2{
    font-size: 50px;
    float: left;
    margin-left: 50px;
}
.head a{
    float: right;
    font-size: 20px;
    text-decoration:none;
    margin-top: 25px;
    margin-right: 25px;
}
.chat{
    height: 10%;
    width: 100%;
    text-align: center;
    display: none;
}
.chat input{
    position: sticky;
    width: 70%;
    height: 50px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
    background-color: white;
}
.chat input:focus{
    width: 80%;
}
.sendbutt{
    height: 50px;
    width: 10%;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    color: #dfdfdf;
    font-size: 20px;
}
.chating{
    margin:auto;
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
.chatother{
    margin-top: 10px;
    float: left;
    margin-left: 40px;
    border: 2px solid gray;
    height: auto;
    width: 80%;
    border-radius: 25px;
}
.chatyou{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    height: auto;
    width: 80%;
    border-radius: 25px;
}
.textyou{
    text-align: right;
    padding-right: 20px;
    background-color: #3498DB;
    border-radius: 25px;
}
.textothers{
    padding-left: 20px;
    background-color: #FFC0CB;
    border-radius: 25px;
}
.parent{
    height:570px ;
    width: 100%;
    border: 2px solid #777575;
    border-bottom: none;
    display: flex;
}
.child1{
    height: 100%;
    width: 30%;
    overflow: auto;
    float: right;
}
.child2{
    height: 100%;
    width: 70%;
    float: left;
    border-left:2px solid #222;
}
.groupdiv{
    height: 15%;
    width: 95%;
    border: 2px solid red;
    margin: auto;
    border-radius: 25px;
    background-color: green;
    text-align: center;
    margin-top: 6px;

}
#datas{
    height: 90%;
    width: 100%;
}
.groupname{
    background-color: green;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.groupdiv1{
    cursor: pointer;
    height: 10%;
    width: 95%;
    border: 2px solid red;
    margin: auto;
    border-radius: 25px;
    background-color: blue;
    text-align: center;
    margin-top: 6px;
}
.groupname1{
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 25px;

}
.selecttext{
    text-align: center;
    margin-top: 30%
}
.groupinfo{
    height:10%;
    width: 100%;
    background-color: green;
    border: 2px solid gray;
    display: none;
    cursor: pointer;
}
.groupname3{
    background-color: green;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 30px;
    text-align: center;
}